{% extends 'files/base.html' %}
{% block title %}{{ item.meta_title|default:item.title }}{% endblock %}
{% block meta_description %}{{ item.meta_description|default:item.description|truncatechars:150 }}{% endblock %}

{% block content %}
<h1>{{ item.title }}</h1>

<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <th>Description</th>
            <td>{{ item.description }}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{ item.category }}</td>
        </tr>
        <tr>
            <th>Uploaded</th>
            <td>{{ item.uploaded_at }}</td>
        </tr>
        <tr>
            <th>Downloads</th>
            <td>{{ item.downloads }}</td>
        </tr>
        <tr>
            <th>Download Link</th>
            <td>
                <a href="{% url 'files:download' slug=item.slug %}" class="btn btn-success">
                    Download
                </a>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
